{% extends 'base.html.twig' %}

{% block title %}Mon profil - FC Rosheim{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="full-height flex align-items-center justify-content-center">
        <main class="col-md-4">
            <div class="card">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="redline"></div>
                    <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
                {{ form_end(form) }}
        </main>
    </div>
</div>
{% endblock %}