{% block h1 %}
    <a href="{{ path('admin_index') }}" style="text-decoration: none">
        <h1 class='display-1 text-center'>
            PANNEAU D'ADMINISTRATION
        </h1>
    </a>
{% endblock %}