{% block breadcrumbs %}
<div class="breadcrumb-container">
<div class="padding-crubs breadcrumb-text">Vous êtes ici </div><div class="padding-crubs breadcrumb-bg breadcrumb-link">{{ wo_render_breadcrumbs() }}</div>
</div>

{% endblock %}