{% block navigation %}
<div class="media-container">
    <div class="display-media">
        <button>
            <i class="fa-solid fa-up-right-from-square"></i>
        </button>
    </div>
    <div class="media-links">
        <nav class="navbar">
            <ul class="nav nav-media">
                <li class="nav-item"><a href="https://www.facebook.com/Rosheim1934/" target="_blank" class=""><i class="fa-brands fa-facebook-square"></i></a></li>
                <li class="nav-item"><a href="https://www.youtube.com/channel/UCBZAq0tvux7cW1Zb2vr6UYg" class=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}