{% block aside %}
<aside class="col-md-3">
    <div class="sidebar">
        <ul>
            <a href="{{ path('profile', {'id': app.user.id}) }}"><li>Mes Informations</li></a>
            <a href="#"><li>Mon équipe favorite</li></a>
            <a href="{{path('user_edit', {'id': app.user.id})}}"><li>Modifier mes informations</li></a>
            <a href="{{path('app_logout')}}"><li id="logout">Se déconnecter</li></a>
        </ul>
    </div>
</aside>
{% endblock %}