{% extends 'base.html.twig' %}


{% block title %}Mon profil - FC Rosheim{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="full-height flex align-items-center">
        {{ include ("include/_admin_sidepanel.html.twig") }}
        <main class="col-md-8 full-height">
            {{ include('include/_admin_title.html.twig') }}
                <div class="card">
                <h1 class="display-2">Gestion des Résultats</h1>
                <p class='display-5 text-center'>/!\ Under construction /!\</p>
                </div>
        </main>
    </div>
</div>
{% endblock content %}