/* Custom background image */
body {
    background-color: #000;
    background-image: url("/public_html/img/background_css.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-size: 742px;
}
/* Red pipe before header nav items */
span.leftbar {
    color:whitesmoke;
    border-left: 1px solid #f12f37;
    padding-left: 5px;
    display: inline-block;
    height: 0.7rem;
}
/* Ligne rouge horizontale */
.redline{
    width: 60%;
    margin: 1.5em 0;
    display: block;
    border-bottom: 1px solid rgba(180,0,0,0.8);
}
.redline-center{
    width: 96%;
    margin: 1.5em auto;
    display: block;
    border-bottom: 1px solid rgba(180,0,0,0.8);
}

/* Classe display flex afin d'éviter la redondance */
.flex {
    display: flex;
}
/* Taille de la hauteur de la page (pas 100vh car header) */
.full-height {
    height: 70vh;
}

/* More spacing for the login/user logo in relation to the rest of the nav */
#log-logo {
    margin-left: 1rem;
    padding-right: 0.7rem;
}

#log-logo, svg {
    color: whitesmoke;
}

/* Menu dropdown sur l'icone login */
.dropdown-content {
    display: none;
    position: absolute;
    top: 42px;
    right: 2.2rem;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
/* Affichage du menu dropdown avec animation */
.dropdown:hover .dropdown-content {
    display: block;
    animation: dropdown 1s ease 0s 1 normal forwards;
}
@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Card style */
.card {
    padding: 2.5rem 1rem;
    background-color: #101010cc;
    border: solid rgba(180, 0, 0, 0.8) 1px;
    border-radius: 0;
}
.card h1, .card h2, .card h3, .card h4 {
    color: whitesmoke;
    font-size: 1rem;
}
.card label {
    color: whitesmoke;
    margin-bottom: 0.2em;
}
.card input {
    margin-bottom: 1.5em;
    border-radius: 0;
}
.card p {
    color: whitesmoke;
    margin-top: 1.5em;
    margin-bottom: 0;
}
.card a {
    color: rgba(255, 0, 0, 0.8);
}
.card a:hover {
    color: rgba(200, 0, 0, 0.8);
}
.card button{
    border-radius: 0;
}
/* Team */
.card-team {
    margin-top: 2rem;
    padding: 0.2rem 2.5rem ;
    background-color: #101010cc;
    border: solid rgba(180, 0, 0, 0.8) 1px;
    border-radius: 0;
}
.card-team  #teamName{
    color: whitesmoke;
    font-size : 1rem;
    text-decoration: none;
}
.btn-team{
    margin-top: 2rem;
}

/* Sidebar style */
.sidebar li {
    padding: 10px;
    list-style-type: none;
    margin: 0;
}
.sidebar li:hover{
    border-right: 2px solid rgba(180, 0, 0, 0.8);
    animation: border-width 0.2s linear;
}
.sidebar ul {
    width: 250px;
    margin: 0;
    padding: 0;
}
.sidebar a{
    text-decoration: none;
    color: whitesmoke;
}
#logout{
    background-color: rgba(180, 0, 0, 0.8);
}
#logout:hover {
    background-color: rgba(200, 0, 0, 0.8);
}
/* Form check input */
.form-check-input {
    margin-left: 0.5em ;
}