<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}FC Rosheim{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="/img/logo.ico" type="image">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include ("include/header.html.twig") }}
        {% block content %}{% endblock %}
    </body>
</html>
