{% extends 'base.html.twig' %}


		{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center full-height flex align-items-center">
        <div class="col-md-4 justify-content-md-center card">



			<div class="container-fluid ">
				<div class="flex flex-column align-items-center justify-content-md-center full-height">
					<h1 class="text-center">Tire manqué, c'est passé à <span>404</span> cm de la lucarne</h1>

					<p class="text-center">
						La requête n'a pas aboutie. Vérifiez l'URL ou
						<a href="{{ path('home') }}">revenez à la page d'accueil</a>.
					</p>
					</p>
					<p>Error code :
						{{ status_code }}</p>
					<p>Error message :
						{{ status_text }}</p>
					<p>Custom message :
						{{ exception.message }}</p>
				</div>
			</div>


        </div>
    </div>
</div>

		{% endblock %}

